<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://filesuploadfunpe.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/44d18eb0-9d2b-4948-b144-3c82050ec550/resourceGroups/grupoRecursoPruebas/providers/Microsoft.Web/sites/FilesUploadFunPE</ResourceId>
    <UserName>$FilesUploadFunPE</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://filesuploadfunpe.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>